{% extends "layout/base.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<p></p>

<div class="jumbotron">
<h1>Iron<strong>Glove</strong></h1>
<p>A real feedback<br /> on your workout.</p>
<p style="text-align: right">
    <a href="#" class="btn btn-lg btn-default">Learn now</a>
</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Log your trainings</h2>
            <p>
                Save very detailed information about your training session.  
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Socialize your workout</h2>
            <p>
                Your friends can make your feel their support.
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Get the rhythm</h2>
            <p>
                Follow our recommendations to maximize the effect.
            </p>
        </div>
    </div>
</div>

{% endblock %}