{% extends "layout/base.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<p></p>

<div class="jumbotron">
    <h1>Iron<strong>Glove</strong></h1>
    <p>Realtime, tactile feedback for your workout.</p>
    <p style="text-align: right">
        <a href="#" class="btn btn-lg btn-default">Learn now</a>
    </p>
</div>

<div class="container">
    <div class="row blocks">
        <div class="col-lg-4 col-sm-6">
            <h2><i class="fa fa-cloud-upload"></i>&nbsp;Log trainings</h2>
            <p>
                Save detailed information about your training session.  
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h2><i class="fa fa-comments-o"></i>&nbsp;Socialize workout</h2>
            <p>
                Live motivation from your friends.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h2><i class="fa fa-clock-o"></i>&nbsp;Get the rhythm</h2>
            <p>
                Follow our recommendations to maximize your training.
            </p>
        </div>
    </div>
</div>
{% endblock %}