{% extends "layout/base.twig" %}

{% block title %}
Buds' Workout
{% endblock %}

{% block content %}
<p></p>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Buds' Workout</li>
</ol>

<div class="row">
    <p></p>
    <div class="col-xs-12">
        <a href="/" class="btn btn-default btn-primary"><i class="fa fa-bolt"></i>&nbsp;&nbsp;Give him powah</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>
{% endblock %}
